<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <meta name="subject" content="{{subject}}"/>
    <meta name="description" content="{{description}}"/>
    <meta name="author" content="{{author}}"/>
    {{> block-content/partials/styles}}
</head>

<body>

{{#with topSection }}
  {{> block-content/partials/top-section}}
{{else}}
  {{> block-content/partials/navlogo}}
{{/with}}
{{#each sections}}
    {{> block-content/partials/section}}
{{/each}}
{{#with regards}}
    {{> block-content/partials/regards}}
{{/with}}
</body>

</html>
