<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Refusjonskvittering</title>
    <meta name="subject" content="Dokumentemne"/>
    <meta name="author" content="pdfgen"/>
    <meta name="description" content="Refusjonskvittering"/>
    <style>
        * {
            font-family: "Source Sans Pro" !important;
        }
        .line_bottom {
            border-bottom: 1px #CCC solid;
        }
        .block {
            width: 100%;
            margin-top: 0;
        }
        h4 {
            padding-top: 2mm;
            margin-left: 1mm;
            font-size: 13px;
            margin-top: 0;
        }
        table th {
            width: 25%;
            font-weight: normal;
        }
        table td {
            width: 75%;
            font-weight: bold;
        }
        tr {
            font-size: 10px;
        }
    </style>
</head>
<body>
<div class="block line_bottom">
    <table class="block">
        <tbody>
        <tr>
            <th>Tiltaksnavn:</th>
            <td>{{ tiltakInfo.tiltakNavn }}</td>
        </tr>
        <tr>
            <th>Tiltaknummer:</th>
            <td>{{ tiltakInfo.tiltakNummer }}</td>
        </tr>
        <tr>
            <th>Avtale:</th>
            <td>{{ tiltakInfo.avtale }}</td>
        </tr>
        <tr>
            <th>Tiltakstype:</th>
            <td>{{ tiltakInfo.tiltakstype }}</td>
        </tr>
        <tr>
            <th>rapporteringsperiode:</th>
            <td>{{ tiltakInfo.rapporteringsperiode }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="block line_bottom">
    <h4>Tilsagnsdetaljer</h4>
    <table class="block">
        <tbody>
        <tr>
            <th>Antall plasser:</th>
            <td>{{ tilsagnDetails.antallPlasser }}</td>
        </tr>
        <tr>
            <th>Pris per plass:</th>
            <td>kr {{ currency_no tilsagnDetails.prisPerPlass }}</td>
        </tr>
        <tr>
            <th>Tilsagnsbeløp:</th>
            <td>kr {{ currency_no tilsagnDetails.tilsagnBelop }}</td>
        </tr>
        <tr>
            <th>Tilsagnsperiode:</th>
            <td>{{ tilsagnDetails.tilsagnPeriode }}</td>
        </tr>
        <tr>
            <th>Sum utbetalt så langt:</th>
            <td>kr {{currency_no tilsagnDetails.sumUtbetalt}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="block line_bottom">
    <h4>Refusjonskrav</h4>
    <table class="block">
        <tbody>
        <tr>
            <th>Refusjonskravnummer:</th>
            <td>{{ refusjonDetails.refusjonNummer }}</td>
        </tr>
        <tr>
            <th>Refusjonskravperiode:</th>
            <td>{{ refusjonDetails.refusjonPeriode }}</td>
        </tr>
        <tr>
            <th>Antall månedsverk:</th>
            <td>{{ refusjonDetails.antallManedsverk }}</td>
        </tr>
        <tr>
            <th>Total refusjonskrav:</th>
            <td>{{ currency_no refusjonDetails.totalRefusjonsKrav }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="block">
    <h4>Betalingsinformasjon</h4>
    <table class="block">
        <tbody>
        <tr>
            <th>Kontonummer:</th>
            <td>{{ betalingsinformasjon.kontonummer }}</td>
        </tr>
        <tr>
            <th>KID-nummer:</th>
            <td>{{ betalingsinformasjon.kidNummer }}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
