<div class="block">
    <h4>Deltakerperioder</h4>
    {{#if utbetaling.beregning.deltakelser.length}}
    <table class="deltaker-liste">
        <thead>
            <tr>
                <th>Navn</th>
                <th class="text-align-right">Fødselsdato</th>
                <th class="text-align-right">Startdato i perioden</th>
                <th class="text-align-right">Sluttdato i perioden</th>
                <th class="text-align-right">Deltakelsesprosent</th>
            </tr>
        </thead>
        <tbody>
            {{#each utbetaling.beregning.deltakelser}}
            {{#each perioder}}
            <tr>
                <td>{{../person.navn}}</td>
                <td class="text-align-right">{{iso_to_nor_date ../person.fodselsdato}}</td>
                <td class="text-align-right">{{iso_to_nor_date periode.start}}</td>
                <td class="text-align-right">{{iso_to_nor_date periode.slutt}}</td>
                <td class="text-align-right">{{deltakelsesprosent}}%</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>