{{#if value}}
    {{#if format}}
        {{#eq format "NOK"}}
            {{currency_no value}} NOK
        {{/eq}}
        {{#eq format "DATE"}}
            {{iso_to_nor_date value}}
        {{/eq}}
        {{#eq format "STATUS_SUCCESS"}}
            <span class="status_success">{{value}}</span>
        {{/eq}}
    {{else}}
        {{value}}
    {{/if}}
{{else}}
    -
{{/if}}
