{{#eq utbetaling.status "Overført til utbetaling"}}
<h4>Utbetalingsstatus</h4>
<div class="block">
    <table class="block">
        <tbody>
            <tr>
                <th>Status:</th>
                <td><span class="status_success">{{utbetaling.status}}</span></td>
            </tr>
            <tr>
                <th>Godkjent beløp til utbetaling:</th>
                <td>{{currency_no utbetaling.totaltUtbetalt}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Tilsagn som er brukt til utbetaling</h4>
{{#each utbetaling.linjer}}
<div class="block utbetalinglinjestatus">
    <table class="block">
        <tbody>
            <tr>
                <th>Tilsagn:</th>
                <td>{{tilsagn.bestillingsnummer}}</td>
            </tr>
            <tr>
                <th>Beløp til utbetaling:</th>
                <td>{{currency_no belop}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td><span class="status_success">{{status}}</span></td>
            </tr>
            <tr>
                <th>Status endret:</th>
                <td>{{iso_to_nor_date statusSistOppdatert}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{/each}}
{{/eq}}
