<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Utbetaling</title>
    <meta name="subject" content="Dokumentemne" />
    <meta name="author" content="pdfgen" />
    <meta name="description" content="Refusjonskrav" />
    <style>
        * {
            font-family: "Source Sans Pro" !important;
        }

        .line_bottom {
            border-bottom: 1px #CCC solid;
        }

        .block {
            width: 100%;
            margin-top: 0;
        }

        table,
        p,
        li {
            font-size: 12px;
        }

        table th {
            font-weight: normal;
        }

        table td {
            width: 75%;
        }

        .tilsagn-table {
            border: 1px solid #D1D4D8;
            padding: 8px;
            margin-bottom: 20px;
        }

        .deltaker-liste th {
            font-weight: bold;
        }

        .text-align-right {
            text-align: right;
        }

        .deltaker-liste {
            width: 100%;
            table-layout: fixed;
        }

        .deltaker-liste th,
        .deltaker-liste td {
            width: auto;
            padding: 8px;
            text-align: left;
        }

        .deltaker-liste tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        #nav_logo {
            width: 20mm;
            height: 20mm;
            padding: 0 0 0 0;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .logo-container {
            display: block;
            margin: 0 auto;
            height: 100px;
        }
    </style>
</head>

<body>
    <div class="logo-container">
        <img alt="NAV logo" id="nav_logo" src="{{ image 'logo.svg' }}" />
    </div>
    <h1>Oppsummering av innsending</h1>

    {{#if utbetaling.godkjentAvArrangorTidspunkt}}
    <div class="block">
        <table class="block">
            <tbody>
                <tr>
                    <th>Dato innsendt av arrangør</th>
                    <td>{{iso_to_nor_date utbetaling.godkjentAvArrangorTidspunkt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{else if utbetaling.createdAt}}
    <div class="block">
        <table class="block">
            <tbody>
                <tr>
                    <th>Dato opprettet hos Nav</th>
                    <td>{{iso_to_nor_date utbetaling.createdAt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/if}}
    <div class="block line_bottom">
        <table class="block">
            <tbody>
                <tr>
                    <th>Frist for innsending:</th>
                    <td>{{iso_to_nor_date utbetaling.fristForGodkjenning}}</td>
                </tr>
                <tr>
                    <th>Tiltaksnavn:</th>
                    <td>{{ utbetaling.gjennomforing.navn }}</td>
                </tr>
                <tr>
                    <th>Tiltakstype:</th>
                    <td>{{ utbetaling.tiltakstype.navn }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="block line_bottom">
        <h4>Tilsagnsdetaljer</h4>
        {{#each tilsagn }}
        <table class="block tilsagn-table">
            <tbody>
                <tr>
                    <th>Tilsagnsperiode:</th>
                    <td>{{ iso_to_nor_date periodeStart }} - {{ iso_to_nor_date periodeSlutt }}</td>
                </tr>
                <tr>
                    <th>Antall plasser:</th>
                    <td>{{ beregning.input.antallPlasser }} </td>
                </tr>
                <tr>
                    <th>Sats:</th>
                    <td>{{ currency_no beregning.input.sats }} kr </td>
                </tr>
                <tr>
                    <th>Totalt beløp:</th>
                    <td>{{ currency_no beregning.output.belop }} kr </td>
                </tr>
                <tr>
                    <th>Gjenstående beløp:</th>
                    <td>{{ currency_no gjenstaendeBelop }} kr </td>
                </tr>
            </tbody>
        </table>
        {{/each}}
    </div>
    <div class="block line_bottom">
        <h4>Utbetaling</h4>
        <table class="block">
            <tbody>
                <tr>
                    <th>Utbetalingsperiode:</th>
                    <td>{{ iso_to_nor_date utbetaling.periodeStart }} - {{ iso_to_nor_date utbetaling.periodeSlutt }}
                    </td>
                </tr>
                <tr>
                    <th>Antall månedsverk:</th>
                    <td>{{ utbetaling.beregning.antallManedsverk }}</td>
                </tr>
                <tr>
                    <th>Beløp til utbetaling:</th>
                    <td>{{ currency_no utbetaling.beregning.belop }} kr</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="block line_bottom">
        <h4>Betalingsinformasjon</h4>
        <table class="block">
            <tbody>
                <tr>
                    <th>Kontonummer:</th>
                    <td>{{ utbetaling.betalingsinformasjon.kontonummer }}</td>
                </tr>
                <tr>
                    <th>KID-nummer:</th>
                    <td>{{#if utbetaling.betalingsinformasjon.kid}}{{ utbetaling.betalingsinformasjon.kid }}{{else}}Ikke
                        oppgitt{{/if}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{#eq utbetaling.beregning.type "FORHANDSGODKJENT"}}
    <div class="block line_bottom">
        <h4>Stengt hos arrangør</h4>
        {{#if utbetaling.beregning.stengt.length}}
        <p>Det er registrert stengt hos arrangør i følgende perioder:</p>
        <ul>
            {{#each utbetaling.beregning.stengt}}
            <li>{{iso_to_nor_date periode.start}} - {{iso_to_nor_date periode.slutt}}: {{beskrivelse}}</li>
            {{/each}}
        </ul>
        {{else}}
        <p>Ingen registrerte stengte perioder</p>
        {{/if}}
    </div>
    {{/eq}}
    {{#eq utbetaling.beregning.type "FORHANDSGODKJENT"}}
    <div class="block">
        <h4>Deltakere</h4>
        {{#if utbetaling.beregning.deltakelser.length}}
        <table class="deltaker-liste">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th class="text-align-right">Fødselsdato</th>
                    <th class="text-align-right">Startdato i tiltaket</th>
                    <th class="text-align-right">Startdato i perioden</th>
                    <th class="text-align-right">Sluttdato i perioden</th>
                    <th class="text-align-right">Deltakelses-<br />prosent</th>
                    <th class="text-align-right">Månedsverk</th>
                </tr>
            </thead>
            <tbody>
                {{#each utbetaling.beregning.deltakelser}}
                <tr>
                    <td>{{person.navn}}</td>
                    <td class="text-align-right">{{iso_to_nor_date person.fodselsdato}}</td>
                    <td class="text-align-right">{{iso_to_nor_date startDato}}</td>
                    <td class="text-align-right">{{iso_to_nor_date forstePeriodeStartDato}}</td>
                    <td class="text-align-right">{{iso_to_nor_date sistePeriodeSluttDato}}</td>
                    <td class="text-align-right">{{sistePeriodeDeltakelsesprosent}}%</td>
                    <td class="text-align-right">{{manedsverk}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
    {{/eq}}

</body>

</html>